.OneMoviesCard {
  height: 385px;
  width: 230px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.OneMoviesCard:hover{
  //background-color: #828282;
}


.PosterImage {
  height: 320px;
  width: 230px;
  object-fit: cover;
  cursor: pointer;
  //filter: grayscale(100%);
  transition: 0.2s;
}

.PosterImage:hover {
  height: 320px;
  width: 230px;
  object-fit: cover;
  transition: 0.2s;
  filter: none;
  border: 1px solid #ffd700;
  box-sizing: border-box;
  //box-shadow: 1px 1px 8px 1px #ffffff;
  //box-shadow: 1px 1px 10px #ffffff;
}

.MovieTitle {
  width: 228px;
  font-size: 16px;
  display: -webkit-box;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-align: center;
}

.OneMoviesCard:hover {

}

.StarsElement{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Stars{
}








@media screen and (max-width: 820px) {

  .OneMoviesCard{
    height: 335px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 5px;
  }

  .PosterImage {
    height: 280px;
    width: 200px;
    object-fit: cover;
  }

  .PosterImage:hover {
    height: 280px;
    width: 200px;
    object-fit: cover;
    //box-shadow: 1px 1px 8px 1px #ffffff;
    //box-shadow: 1px 1px 10px #ffffff;
  }


  .MovieTitle {
    width: 198px;
    font-size: 12px;
  }

}







@media screen and (max-width: 456px) {
  .OneMoviesCard{
    height: 300px;
    width: 160px;
    margin: 5px;
  }

  .PosterImage {
    height: 240px;
    width: 160px;
    object-fit: cover;
  }

  .PosterImage:hover {
    height: 240px;
    width: 160px;
    object-fit: cover;
    //box-shadow: 1px 1px 8px 1px #ffffff;
    //box-shadow: 1px 1px 10px #ffffff;
  }


  .MovieTitle {
    width: 166px;
    font-size: 11px;
  }

}


@media screen and (max-width: 344px) {
  .OneMoviesCard{
    height: 290px;
    width: 150px;
    margin: 4px;
  }

  .PosterImage {
    height: 220px;
    width: 150px;
    object-fit: cover;
  }

  .PosterImage:hover {
    height: 220px;
    width: 150px;
    object-fit: cover;
    //box-shadow: 1px 1px 8px 1px #ffffff;
    //box-shadow: 1px 1px 10px #ffffff;
  }


  .MovieTitle {
    width: 148px;
    font-size: 10px;
  }

}

