.MainBlockSearch {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TitleSearchQuery {
    display: flex;
    align-items: center;
    margin: 1.5em 0 0 0;
}

.MovieListHead {
    margin: 15px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MoviesCard {
    width: 92%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.ButtonPage {
    display: flex;
    justify-content: center;
    align-items: center;
}


.ButtonPlus{
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-left: 30px;
    background-color: #ffd700;
    border: 1px solid rgba(0, 250, 44);;
    cursor: pointer;
    color: var(--accent-dark);
}

.ButtonMinus{
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-right: 30px;
    background-color: #ffd700;
    border: 1px solid rgba(0, 250, 44);
    cursor: pointer;
    color: var(--accent-dark);
}

.ButtonPlus:disabled{
    background-color: #5a5a5a;
    border: none;
}

.ButtonPlus:hover{
    background-color: rgba(0, 250, 44);
    border: 1px solid snow;
    color: snow;
}

.ButtonMinus:hover{
    background-color: rgba(0, 250, 44);
    border: 1px solid snow;
    color: snow;
}

.ButtonMinus:not([hover]):disabled{
    background-color: #5a5a5a;
    border: none;
    color: var(--accent-dark);
    cursor: auto;
}

.ButtonPlus:not([hover]):disabled{
    background-color: #5a5a5a;
    border: none;
    color: var(--accent-dark);
    cursor: auto;
}


.PageCount{
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.CurrentPage {
    /*position: absolute;*/
    /*left: 100px;*/
    margin-right: 80px;
}

.TotalPage {
    /*position: absolute;*/
    /*right: 100px;*/
    margin-left: 80px;
}








@media screen and (max-width: 820px) {
    .ButtonPlus{
        width: 105px;
        height: 30px;
        font-size: 12px;
        margin-left: 10px;
    }
    .ButtonMinus{
        width: 105px;
        height: 30px;
        font-size: 12px;
        margin-right: 10px;
    }

    .TitleSearchQuery {
        font-size: 10px;
    }

    .CurrentPage {
        font-size: 10px;
        margin-right: 25px;
    }
    .TotalPage{
        font-size: 10px;
        margin-left: 25px;
    }

}



@media screen and (max-width: 456px) {
    .MoviesCard {
        width: 100%;}
    .TitleSearchQuery {
        font-size: 8px;
    }
    .PageCount{
        margin-top: 10px;
    }
    .CurrentPage {
        font-size: 8px;
        margin-right: 30px;
    }
    .TotalPage{
        font-size: 8px;
        margin-left: 30px;
    }

}
